@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: blueviolet;
}
.wrapper {
  width: 90%;
  max-width: 25em;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.8em;
  padding: 2em;
}
.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.app-icon {
  width: 9.37em;
}
.app-title {
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
label {
  display: block;
  font-weight: 600;
}
input#amount {
  font-weight: 400;
  font-size: 1.2em;
  display: block;
  width: 100%;
  border-bottom: 2px solid #02002c;
  color: #7a789d;
  margin-bottom: 2em;
  padding: 0.5em;
}
input#amount:focus {
  color: #9873fe;
  border-color: #9873fe;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
select {
  width: 100%;
  padding: 0.6em;
  font-size: 1em;
  border-radius: 0.2em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #9873fe;
  color: #fff;
  cursor: pointer;
}
select option {
  background-color: #ffffff;
  color: #02002c;
}
#result {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1em;
  color: #02002c;
  background-color: #e5dbff;
  padding: 0.8em 0;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .app-title {
    font-size: 1.4em;
  }
  .app-title {
    font-size: 1.3em;
  }
}
